.Registro {
    position: relative;
    z-index: 1;          /* para que este delante del patron */
    width: 350px;
    padding: 25px;
    margin: 40px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    text-align: center;
    font-family: Arial, sans-serif;
}

.Registro h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.Registro label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

.Registro input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;   /* esto es para que las cajitas donde tienes que poner el usuario y contraseña sean mas redondas*/
}

.Registro button {  /*  Esto es para el boton de registrate */
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #2bc0c0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Registro button:hover {
    background-color: #74cece;
}

.Registro p {    /* esto es para */
    margin-top: 15px;
}

.Registro a {   /*  esto es para que el iniciar sesion tenga color azul */
    color: #007bff;
    text-decoration: none;
}

.Registro a:hover {
    text-decoration: underline;
}

.fondo-patron {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Esto es para que salga detras de la caja el patron */
.fondo-patron::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='256' height='256' fill='none'><path d='M 128 256 L 64 256 L 64 192 L 128 192 Z M 256 256 L 192 256 L 192 192 L 256 192 Z M 64 192 L 0 192 L 0 128 L 64 128 Z M 192 192 L 128 192 L 128 128 L 192 128 Z M 128 128 L 64 128 L 64 64 L 128 64 Z M 256 128 L 192 128 L 192 64 L 256 64 Z M 64 64 L 0 64 L 0 0 L 64 0 Z M 192 64 L 128 64 L 128 0 L 192 0 Z' fill='rgba(0, 120, 255, 0.4)'/></svg>");
    background-repeat: repeat; /* esto es para que se repita el patron */
    background-size: 128px;
    opacity: 0.3;        /* Esto es la opacidad */
    z-index: 0;          /* Para que este detras de la caja */
}


/*/////////////////////////////////////////////////////////////////////////////////*/

.login{
    position: relative;
    z-index: 1;          /* para que este delante del patron */
    width: 350px;
    padding: 25px;
    margin: 40px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    text-align: center;
    font-family: Arial, sans-serif;
}

.login h1{
    margin-bottom: 20px;
    font-size: 24px;
}

.login label{
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

.login input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;   /* esto es para que las cajitas donde tienes que poner el usuario y contraseña sean mas redondas*/
}

.login button{  /*  Esto es para el boton de registrate */
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login button:hover{
    background-color: #a71515;   /* esto es par aque cuando pongas el cursor encima salga otro color */
}

.login p{    /* esto es para */
    margin-top: 15px;
}

.login a {   /*  esto es para que el iniciar sesion tenga color azul */
    color: #ff3b21;
    text-decoration: none;
}

.login a:hover{
    text-decoration: underline;
}

.fondo-login{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Esto es para que salga detras de la caja el patron */
.fondo-login::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='256' height='256' fill='none'><path d='M 112 32 L 54.627 32 L 128 105.373 L 201.373 32 L 144 32 L 144 0 L 256 0 L 256 112 L 224 112 L 224 54.627 L 150.627 128 L 224 201.373 L 224 144 L 256 144 L 256 256 L 144 256 L 144 224 L 201.373 224 L 128 150.627 L 54.627 224 L 112 224 L 112 256 L 0 256 L 0 144 L 32 144 L 32 201.373 L 105.373 128 L 32 54.627 L 32 112 L 0 112 L 0 0 L 112 0 Z' fill='rgb(84,84,84)'/></svg>");
    background-size: 128px;
    opacity: 0.3;        /* Esto es la opacidad */
    z-index: 0;          /* Para que este detras de la caja */
}

/*/////////////////////////////////////////////////////////////////////////////////*/


.bienvenida {
    position: relative;
    z-index: 1;          /* para que este delante del patron */
    width: 350px;
    padding: 25px;
    margin: 40px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Título */
.bienvenida h1 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #222;
}

/* Enlaces */
.bienvenida a {
    color: #1757a8;
    font-weight: bold;
    text-decoration: none;
}

.bienvenida a:hover {
    text-decoration: underline;
}

.bienvenida label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

.fondo-blobs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}

.blob {
    position: absolute;
    width: 350px;
    height: 350px;
    background: #ff4d4d;
    opacity: 0.35;
    filter: blur(60px);
    border-radius: 50%;
    animation: mover 20s infinite alternate ease-in-out;
}

.blob:nth-child(2) {
    background: #3a86ff;
    width: 400px;
    height: 400px;
    animation-duration: 25s;
}

.blob:nth-child(3) {
    background: #ffbe0b;
    width: 300px;
    height: 300px;
    animation-duration: 18s;
}

@keyframes mover {
    0%   { transform: translate(-10%, -10%) scale(1); }
    50%  { transform: translate(60%, 20%) scale(1.3); }
    100% { transform: translate(20%, 70%) scale(1); }
}


.mensaje-contenedor {
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.15);
    text-align: center;
    font-family: Arial, sans-serif;
}

.mensaje-contenedor h1 {
    font-size: 22px;
    color: #333;
}

.exito {
    color: #28a745;
}

.error {
    color: #d9534f;
}

