       body {
            font-family: Arial,;
            background: linear-gradient(135deg, #cccedbff, #2575fc);
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .Contenedor1 {
            background-color: white;
            padding: 30px 40px;
            border-radius: 15px;
            width: 100%;
            max-width: 400px;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        button {
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: #2575fc;
            color: white;
            font-size: 16px;
        }
        .Bienvenida a {
            display: inline-block;
            padding: 10px 25px;
            background: #0044ff;
            color: white;
            border-radius: 25px;
            text-decoration: none;
            transition: all 0.3s ease;
        }

        .Bienvenida a:hover {
            background: #002fcc;
            transform: scale(1.05);
        }